.about {
    &__content {
        .row-flex();
        // align-items: center;
    }

    &__text {
        .col();
        .size(8);
        margin-bottom: 80px;

        p, div {
            margin: 20px 0;
        }
    }

    &__image {
        .col();
        .size(4);
        width: 367px;
        height: auto;
        border-radius: 20px;

        img {
            border-radius: 20px;
        }
    }
}