// USER VARIABLES SECTION

@accent: #ffd95e; // Accent Color
@fontsize: 16px; // Body Font Size
@lineheight: 1.875; // Document Line Height
@white: #ffffff;
@black: #2c2b29;
@green: #97a277;
@light_yellow: #ece0b8;
@blue: #365069;
@light_blue: #6d8ca9;
@grey: #e1e1e1;
@green: #97a277;


@userfont: 'Roboto Condensed', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

::placeholder {
	color: #666;
}

::selection {
	background-color: @accent;
	color: #fff;
}

:root {
	--brand: @accent;
	accent-color: var(--brand);
}

// input, textarea {
// 	outline: none;
// 	&:focus:required:invalid { border: 3px solid @accent }
// 	&:required:valid { border: 3px solid green }
// }

// .scroll-disabled {
//   overflow: hidden;
// }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
	display: flex;
	flex-direction: column;

	font-family: @userfont;
	font-size: @fontsize;
	font-weight: 300;
	// line-height: @lineheight;
	line-height: 1.5;
	color: @black;
	min-height: 100vh;
	min-width: 320px;
	position: relative;
	text-rendering: optimizeSpeed;
	// overflow-x: hidden;
}

body:not(.home) {
	section > .container {
		padding-top: 35px;
		min-height: 100vh;
	}

	.section-header {
		margin-bottom: 35px;
	}

	.section-subheader {
		// margin-top: -33px;
		margin-top: -14px;
		// margin-bottom: 10px;
		margin-bottom: 33px;
		font-size: 32px;
		line-height: 1;

		.sm-block({
			font-size: 20px;
			line-height: 1.5;
		});
	}
}

main {
	background: url(../img/main-bg.jpg) top center/auto;
}

section, main, footer {
  position: relative;
  z-index: 1;
}

section {
	> .container {
        background-color: @white;
		padding-top: 32px;
        padding-bottom: 32px;
    }
}

header {
	position: relative;
  	z-index: 2;
}

.section-header {
	font-weight: 700;
	font-size: 57px;
	line-height: 1;
	letter-spacing: -0.02em;

	.sm-block({
		font-size: 46px;
	});
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// remove cross
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

// fix safari
input[type='submit'] { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
  }

