.header {

    //header-top
    &__top {
        color: @white;
        background-color: @blue;

        a {
            color: inherit;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: @accent;
            }
        }

        &-wrapper {
            padding-top: 11px;
            padding-bottom: 8px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .sm-block({
                flex-wrap: wrap;
                justify-content: center;
            });

        }
    }

    &__contacts, &__adress, &__email, &__tel {
        display: flex;
        align-items: center;
        .sm-block({
            justify-content: center;
            align-items: flex-start;
        });
        font-size: 13px;

        svg {
            margin-right: 5px;
            .md(margin-right, 3px);
        }
    }

    &__contacts {
        flex-wrap: wrap;
        
        &-wrapper {
            display: flex;
        }
    }

    &__adress, &__email {
        margin-right: 30px;
        .lg(margin-bottom, 5px);
        .md(margin-right, 0);
    }

    &__email {
        .md(margin-right, 5px);
    }
    
    &__adress {
        .sm-block({
            max-width: 200px;
            margin-right: 0;
            // text-align: center;
        });
        
        svg {
            flex-shrink: 0;
        }
    }

    &__tel {
        flex-wrap: wrap;
        // margin-bottom: 5px;
        .lg(margin-bottom, 5px);
    }

    &__social {
        margin: 0 5px;
        display: flex;

        li+li {
            margin-left: 10px;
        }
    }

    // header-middle

    &__mid {
        padding-top: 13px;
        padding-bottom: 18px;

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .sm(justify-content, center);
        }
    }

    &__form {
        position: relative;
        max-width: 100%;
        margin: 10px 5px 0;
        .xl(display, none);
    }

    &__input {
        max-width: 100%;
        width: 460px;
        padding: 12px 19px;
        padding-right: 30px;
        background-color: #fcfcfc;
        border: 1px solid #dfdfdf;
        border-radius: 15px;

        &:focus {
            outline: 1px solid @accent;
        }
    }

    &__submit {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        width: 19px;
        height: 19px;
        border: none;
        background: url(../img/header-search.svg) no-repeat center;
        cursor: pointer;
    }

    &__btn {
        display: flex;
        align-items: center;
        margin: 10px 5px 0;
        padding: 15px 20px;
        
        color: @black;
        background-color: @light_yellow;

        font-size: 16px;
        transition: all 0.3s ease;

        &:hover {
            color: @white;
            background-color: @light_blue;
        }

        svg {
            margin-right: 5px;
        }
    }

    &__time {
        margin: 10px 5px 0;
        .md(display, none);

        p {
            font-size: 15px;
            b {
                display: inline-block;
                margin-bottom: 5px;
                text-transform: uppercase;
                color: @blue;
                font-size: 19px;
                font-weight: 700;
            }
        }
    }

    // header-bottom 

    &__bottom {
        background-color: #f1f1f1;

    }

    //see header-menu.less
}